{% extends 'base.html' %}

{% block title %}About Us - Pink & Pastry{% endblock %}

{% block content %}
    <h2 class="sectionAbout">About Us</h2>
    <div class="paragraph">
        <p>
            Welcome to Pink & Pastry, a sweet little dream baked to life. What started as late-night experiments in the kitchen, whipping, frosting, and decorating with love, has grown into a cozy bakeshop where every treat is made to bring a smile.
        </p>
        <p>
            At Pink & Pastry, we believe desserts should feel as joyful as they taste. From the fruity freshness of our Blueberry Cheesecake to the rich layers of our Red Velvet Cake, every creation is crafted with the finest ingredients and a touch of whimsy. Real butter, fresh fruits, and smooth creams come together to make each slice as delightful as the last.
        </p>
        <p>
            For us, pastries are more than sweets. They are comfort after a long day, thoughtful surprises for loved ones, and the centerpiece of life’s sweetest celebrations. Every cake carries a bit of love, a bit of magic, and a lot of pink.
        </p>
        <p>
            Step into our world of sugar, color, and care, where happiness is baked daily and every bite feels like a celebration.
        </p>
    </div>
{% endblock %}
