{% extends 'base.html' %}

{% block title %}Menu - Pink & Pastry{% endblock %}

{% block content %}
    <h2 class="sectionMenu">Menu</h2>
    <div class="landing">
        {% for product in products %}
            <div class="product">
                {% if product.image %}
                    <img src="{{ product.image.url }}" alt="{{ product.name }}" width="200">
                {% endif %}
                <h2>{{ product.name }}</h2>
                <div class="middle">
                    <p>{{ product.description }}</p>
                    <p><strong>${{ product.price }} whole</strong></p>
                    <p><strong>Stock:</strong> {{ product.get_stock_display }}</p>
                </div>
                <!-- <div class="bottom"> -->
                <button class="menuBtn">Buy Now</button>
                <!-- </div> -->
            </div>
        {% endfor %}
    </div>
{% endblock %}
