html, body {
    background-color: #FFF8E7;
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    width: auto;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 3.47%;
    gap: 50px;
    flex: 1;
}

.navigationBar {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FEC5E5;
    margin: 0;
    padding: 0 3.47%;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
}

.navigationBar h1 {
    font-size: 60px;
    color: #6D4C41;
}

.navigationBar nav {
    width: 400px;
    padding: 45px 0;
}

.navigationBar nav a {
    font-size: 30px;
    text-decoration: none;
    color: #6D4C41;
    margin-left: 52px;
    transition: ease-in-out .5;
}

.navigationBar nav a:hover {
    border-bottom: #FF6F91 2px solid;
    color: #FF6F91;
}

.navigationBar nav a.active {
    border-bottom: #FF6F91 2px solid;
    color: #FF6F91;
}

/* About */
.sectionAbout {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 70px;
    color: #6D4C41;
    margin: 40px 0 10px;
}

.sectionAbout::before,
.sectionAbout::after {
    content: "";
    display: block;
    width: clamp(300px, 30vw, 1000px);
    border-bottom: 5px solid #6D4C41;
    margin: 0 5px;
}
/* About */

/* Menu */
.sectionMenu {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 70px;
    color: #6D4C41;
    margin: 40px 0 10px;
}

.sectionMenu::before,
.sectionMenu::after {
    content: "";
    display: block;
    width: clamp(300px, 30vw, 1000px);
    border-bottom: 5px solid #6D4C41;
    margin: 0 5px;
}
/* Menu */

.product {
    background-color: #FFFFFF;
    border: #FF6F91 2px solid;
    max-width: 232px;
    height: 530px;
    color: #6D4C41;
    text-align: center;
}

.product img {
    border-bottom: #FF6F91 2px solid;
    width: 232px;
    height: 260px;
}

.product h2 {
    font-size: 18px;
}

.product .middle {
    height: 120px;
}

.product p {
    font-size: 15px;
    margin: 10px 0;
}

.product button {
    background-color: #FEC5E5;
    border: #FF6F91 3px solid;
    border-radius: 50px;
    width: 100px;
    height: 50px;
    color: #6D4C41;
    cursor: pointer;
}

.navigationBar {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FEC5E5;
    margin: 0;
    padding: 0 3.47%;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
}

.navigationBar h1 {
    font-size: 60px;
    color: #6D4C41;
}

.navigationBar nav {
    width: 400px;
    padding: 45px 0;
}

.navigationBar nav a {
    font-size: 30px;
    color: #6D4C41;
    text-decoration: none;
    margin-left: 52px;
}

.title {
    justify-items: center;
}

.title h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
    color: #6D4C41;
    margin: 30px 0 10px;
}

.landing {
    width: auto;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 3.47%;
    gap: 100px;
}

.product {
    background-color: #FFFFFF;
    border: #FF6F91 2px solid;
    max-width: 370px;
    height: 550px;
    color: #6D4C41;
    text-align: center;
}

.product img {
    border-bottom: #FF6F91 2px solid;
    width: 370px;
    height: 267px;
}

.product h2 {
    font-size: 18px;
}

.product .middle {
    height: 120px;
}

.product p {
    font-size: 15px;
    margin: 10px 0;
    padding: 0 30px;
}

.product button {
    background-color: #FEC5E5;
    border: #FF6F91 3px solid;
    border-radius: 50px;
    width: 100px;
    height: 50px;
    color: #6D4C41;
}

.paragraph p {
    font-size: 26px;
    color: #6D4C41;
    text-align: center;
    padding: 0 200px;
}

/* Landing Page */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 100px 50px;
}

.hero-text {
    flex: 1;
    max-width: 50%;
}

.hero-text h1 {
    font-size: 55px;
    font-weight: 700;
    color: #6D4C41;
    line-height: 1.3;
    margin-bottom: 1.2rem;
}

.hero-text p {
    color: #6D4C41;
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 30px;
}

.landingBtn {
    width: 200px;
    height: 50px;
    border-radius: 50px;
    border: #FF6F91 3px solid;
    background: #FEC5E5;
    transition: background 0.3s ease;
    cursor: pointer;
    color: #6D4C41;
    text-align: center;
    font-size: 20px;
}

button:hover {
    background: #FF6F91;
    color: #FFFFFF;
}

.hero-image img {
    max-width: 535px;
    border-radius: 400px 400px 0 0;
    object-fit: cover;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}

/* Footer */

footer {
    background: #FEC5E5;
    padding: 30px 3.47%;
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    color: #6D4C41;
}
